.sociate-button {
  padding: 8px 12px;
  border: 0;
  color: white;
  font-weight: 300;
}


  .sociate-button:hover, .sociate-button:focus, .sociate-button:active {
    color: white;
    text-decoration: none;
    cursor: pointer; }
  .sociate-button .fa-spinner {
    margin-left: 10px; }


.sociate-facebook {
  background-color: #3b5998;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .sociate-facebook:hover, .sociate-facebook:focus {
    background-color: #30487b; }
  .sociate-facebook:active {
    background-color: #263961; }

.sociate-pinterest {
  background-color: #cb2027;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .sociate-pinterest:hover, .sociate-pinterest:focus {
    background-color: #a81a20; }
  .sociate-pinterest:active {
    background-color: #89161a; }

.sociate-google-plus {
  background-color: #dd4b39;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .sociate-google-plus:hover, .sociate-google-plus:focus {
    background-color: #ca3523; }
  .sociate-google-plus:active {
    background-color: #ac2d1e; }

.sociate-linkedin {
  background-color: #007bb6;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .sociate-linkedin:hover, .sociate-linkedin:focus {
    background-color: #005f8d; }
  .sociate-linkedin:active {
    background-color: #00476a; }

.sociate-twitter {
  background-color: #00aced;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .sociate-twitter:hover, .sociate-twitter:focus {
    background-color: #008ec4; }
  .sociate-twitter:active {
    background-color: #0074a1; }


.button-list {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0; }
  .button-list li {
    display: block;
    float: left;
    height: 57px;
    margin-right: 10px; }

.sociate-count {
  margin-left: 10px; }

.sociate-buttons li, .sociate-buttons li a:hover, .sociate-buttons li a:visited {
  color: white;
}

.sociate-button .icon-spinner {
  margin-left: 5px;
}

.rcb-sociate-buttons {
  width: auto;
}